<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>R-Meet-Lite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link href="index_home.css" rel="stylesheet"/>  
</head>
  <body>
    <div class="container">
        <div class="navv" >
            <div class="con1">
                <nav class="navbar navbar-dark navbar-expand-lg navbar-light ">
                    <div class="container-fluid " >
                      <a class="navbar-brand me-5 pe-5" href="#">R-Meet-Lite</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                     
                          <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                            <a class="nav-link" href="#connect">Connect</a>
                            <a class="nav-link" href="/about">About us</a>
                            </div>
                            <div class="join">
                              <button type="button" class="btn btn-outline-light joinBtn">Join Now</button>
                            </div>
                           
                      </div>
                    </div>
                  </nav>
            </div>

        </div>

        <div class="hero" id="connect"> 
          <div class="content">
            <div class="cardDetails card mx-auto " style="width: 70%;">
              <div class="card-body ">
                <h1 class="card-title text-center">ONLINE MEET APPLICATION</h1>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <div class="but ">
                  <a href="#" class="btn btn-outline-light me-4" style="font-weight: bold;">Get Started</a>
                  <a href="/room_ui" class="btn btn-outline-warning" style="font-weight: bold;">Start Meeting</a>
                  <button type="button" class="btn btn-outline-light joinBtnShow" style="font-weight: bold;">Join Now</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>


        <div class="heros" id="connect" style="margin-top: 210px; margin-bottom: 200px;"> 
          <div class="contents">
            <div class="cardDetails card mx-auto " >
              <div class="card-bodys ">
                <h1 class="card-title text-center">Get Started</h1>
                <p class="card-text">Video conferencing offers a way for individuals to connect remotely across various platforms, devices and screens. It provides multiple users the ability to connect all at once from any location with a stable Internet connection. And it empowers them with new ways of communicating about what matters most for their business or personal life.

Enterprise-grade video conferencing is available to everyone with Google Meet. Anyone with a Google Account can create an online meeting with up to 100 participants and meet for up to 60 minutes per meeting.

With a paid Google Workspace plan, businesses, schools and other organisations can take advantage of advanced features, including meetings with up to 500 internal or external participants and live streaming to up to 100,000 viewers within a domain for those that upgrade to Google Workspace.</p>
              </div>
            </div>
          </div>
        </div>



        <div class="footer">
            <p>All Right Reserved! &copy 2022</p>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>